<% is_edit ||= false %>
<% quiz = is_edit ?  object : Quiz.new %>

<div class ="grid place-items-center border py-2 px-5 rounded border-gray-300 items-center shadow-md shadow-gray-400" >
  <h2 class="mb-5 text-lg font-bold">New Quiz</h2>
   
  <%= form_with(model: quiz, multipart: true) do |form| %>
    <div class="field flex flex-col items-center mb-5">
      <%= form.label :title %>
      <%= form.text_field(:title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full") %>
    </div>

    <div class="field flex flex-col items-center mb-5">
      <%= form.label :tag %>
      <%= form.text_field(:tag, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full") %>
    </div>

    <div class="field flex flex-col items-center mb-5">
      <%= form.label :quiz_file %>
      <%= form.file_field(:quiz_file, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full") %>
    </div>

    <div class="actions flex justify-around">
      <%= form.submit "Create New Quiz", class: "bg-blue-500 p-2 rounded m-2 text-white" %>
      <%# <%= form.submit "Create New Quiz", class: "bg-blue-500 p-2 rounded m-2 text-white", data: { reflex: "click->HomeReflex#save_new_object", model: "quiz", reflex_serialize_form: true } %>
    </div>
  <% end %>
</div>