<div class="grid place-items-center border py-2 px-5 rounded border-gray-300 items-center shadow-md shadow-gray-400 h-full" >
  <div class="field flex items-center mb-5 w-full">
    <%= button_tag(class:"mx-2 border rounded-lg font-semibold px-2 py-1", 
          data: {
            reflex: "click->Shared::NotificationModalReflex#show_dialog",
            partial_path: "topics/form",
            sub_locals: {topic_id: topic.id}
          }) do %>
            <%= icon("fa-solid", "pen") %>
    <% end %>
    <span class="font-semibold mx-2 p-2"> <%= topic.topic_name.titleize %> </span>
  </div>

  <form class="contents h-full">
    <div class="field flex flex-col items-center mb-5 h-full">
      <%= rich_text_area_tag :content, '', class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full h-full" %>
    </div>

    <div class="actions flex justify-around">
        <%= button_tag "Save Note", class: "bg-blue-500 p-2 rounded m-2 text-white", data: { reflex: "click->Application#yet_to_implement", reflex_serialize_form: true } %>
      </div>
  </form>
</div>
