<% model_options = current_user.public_send(model.downcase.pluralize) %>
<% mobile ||= false %>
<% button_style = "w-5/6 active:bg-testGreen font-sans3 is-rounded font-bold text-center text-white items-center bg-flashBlue rounded-xl my-1 p-2 flex"%>

<div class="overflow-y-scroll w-full">
    <div class="my-auto flex flex-col items-center border-b border-gray-600"> <!-- TODO make this sticky -->
        <%= button_tag(type: "button", data: {action: "click->home#toggleSelectionBar"}, class: button_style) do %>
            <span class="font-bold text-center w-full"> <%= "My #{model.pluralize.titleize}"%> </span>
        <% end %>
        </button>
        <%= button_tag(type: "button", data: { reflex:"click->HomeReflex#new_object_view", partial_path: "#{model.pluralize.downcase}/form", model: model.singularize }, class: button_style ) do %>
            <span class="flex text-white text-center w-full font-bold justify-around"> <%= "+ Add a new #{model.singularize}" %> </span>
        <% end %>
    </div>
    <div data-home-target="selectionBar" class="mt-5 lg:not-mobile"> <!-- because tailwind is mobile first, this action will only happen on screens smaller than the lg breakpoint -->
        <% unless model_options.empty? %>
            <% model_options.each do |option| %>
                <div class="m-1 flex justify-left">
                    <%= button_tag(class: "#{button_style} w-ful", type: "button", data: {
                        reflex: "click->HomeReflex#focus_on_new_option",
                        id: option.id,
                        model: model.downcase,
                        action:"click->home#toggleSelectionBar"
                        }) do %>
                        <span class="text-white font-semibold flex justify-around"> > <%= option.title  %> </span> <!-- TODO will trigger an SR action -->
                    <% end %>
                </div>
            <% end %>
        <% else %>
            <span class="font-semibold text-justify "><%= "Hey there! you don't have any #{ model.to_s.pluralize } yet. Let's get you set up with one by clicking the add new button above" %> </span>
        <% end %>
    </div>
</div>
