<%
    options = {
        :quizzes => ["Quiz", ["fa-solid", "school"], "click->Home#alter_sidebar"],
        :topics => ["Topic", ["fa-solid", "book"], "click->Home#alter_sidebar"],
        :documentation => ["Documentation", ["fa-solid", "file-lines" ],"click->Docs#show_docs" ]
    }
%>
<% mobile ||= false %>
<% button_style = "w-5/6 active:bg-testGreen font-sans3 is-rounded font-bold text-center text-white items-center bg-flashBlue rounded-xl my-1 p-2 flex"%>

<div data-home-target="dropdown"
    class="md:overflow-y-scroll hidden md:block">
    <div class="m-1 flex justify-center">
        <button type="button"
            class="w-5/6 font-sans3 is-rounded font-bold text-left text-white is-dark my-1 p-2 items-start bg-flashBlue rounded-xl"
            data-reflex="click->Application#yet_to_implement"
        >
            <span class="font-bold mx-3 <%= "#{mobile ? 'text-md' : ' text-lg'}" %>""> <%= icon("fa-solid", "user") %> </span>
            <span class="font-bold"><%= "#{current_user.handle}" %> </span>
        </button>
    </div>

    <% options.each do |option, args| %>
        <div class="m-1 flex justify-center">
            <button type="button"
            class="font-sans3 w-5/6 active:bg-testGreen font-bold text-left text-white is-dark my-1 p-2 items-start bg-flashBlue rounded-xl"
            data-reflex=<%= args[2] %>
            data-model=<%= args[0] %>
            data-action="click->home#toggleDropdown"
            >
                <span class="text-center">
                    <span class="font-bold mx-3 <%= "#{mobile ? 'text-md' : ' text-lg'}" %>"> <%= icon(*args[1]) %> </span>
                    <span class="font-bold"><%= option.to_s.titleize %> </span>
                </span>
            </button>
        </div>
    <% end %>
</div>
