<%
    options = {
        :quizzes => ["Quiz", ["fa-solid", "school"], "click->Home#alter_sidebar"],
        :topics => ["Topic", ["fa-solid", "book"], "click->Home#alter_sidebar"],
        :documentation => ["Documentation", ["fa-solid", "file-lines" ],"click->Docs#show_docs" ]
    }
%>
<% mobile ||= false %>

<div data-home-target="dropdown"
class="lg:overflow-y-scroll nes-main hidden lg:block">
    <div class="m-1 flex justify-center">
        <button type="button"
        class="w-80 font-sans3 is-rounded font-bold text-center text-white is-dark my-1 p-2 flex items-center bg-flashBlue rounded-xl"
        data-reflex="click->Application#yet_to_implement"
        >
            <span class="text-xl font-bold mx-3 <%= "#{mobile ? 'text-md' : ' text-lg'}" %>""> <%= icon("fa-solid", "user") %> </span>
            <span class="text-xl font-bold"><%= "@#{current_user.handle}##{current_user.public_id}" %> </span>
        </button>
    </div>

    <% options.each do |option, args| %>
        <div class="m-1 flex justify-center">
            <button type="button"
            class="active:bg-testGreen w-80 font-sans3 is-rounded font-bold text-center text-white items-center bg-flashBlue rounded-xl my-1 p-2 flex"
            data-reflex=<%= args[2] %>
            data-model=<%= args[0] %>
            data-action="click->home#toggleDropdown"
            >
                <span class="text-center">
                    <span class="text-xl font-bold mx-3 <%= "#{mobile ? 'text-md' : ' text-lg'}" %>"> <%= icon(*args[1]) %> </span>
                    <span class="text-xl font-bold"><%= option.to_s.titleize %> </span>
                </span>
            </button>
        </div>
    <% end %>

    <% if Rails.env.development? %>
        <div class="flex justify-between">
            <button type="button" class="p-2 border flex items-center border-white hover:border-gray-700 rounded-full hover:shadow-md" data-reflex="click->Timer#toggle_times">
                <span class="font-bold mx-3 text-lg"> <%= icon("fa-solid", "stopwatch") %> </span>
                <span class=" font-semibold"> Start A Timer </span>
            </button>

            <div class="flex items-center">
                <button data-action="click->timer#startRefreshing"
                    data-timer-target="isPaused"
                    class="mx-1 p-1 border border-green-500 rounded-full">
                        <%= icon("fa-solid", "play", class: "text-green-500 px-2") %>
                </button>

                <span data-timer-refresh-interval-value="1000"
                    data-timer-target="clock"
                    data-timer-time-value="0"
                    class="font-bold p-2 text-blue-500 border-white hover:border-gray-700 rounded-md hover:shadow-md">
                        00:00
                </span>
            </div>
        </div>
    <% end %>

    <div class="justify-around hidden" data-timer-target="timersList">
        <%= render(partial: "home/timer_options", locals: {}) %>
    </div>

</div>
