<div class="lg:my-5 w-full overflow-x-hidden max-h-screen lg:grid grid-cols-10 grid-rows-6 flex-col">
    
    <div class="lg:hidden w-full flex-col" data-controller="home">
        <div class="w-full flex justify-around">
            <button 
            class="p-3" 
            type="button" 
            data-home-target ="toggleBtn"
            data-action="click->home#toggleDropdown">
                <span class="text-3xl"> <%= icon("fa-solid", "bars") %> </span> 
            </button>
        </div>
        <div>
            <%= render(partial: "home/side_options", locals:{mobile: true}) %>
        </div>

        <div id="selection_bar_mobile">
            <%= render(partial: "home/selection_bar", locals: {model: "quiz", mobile: true}) %>
        </div>
    </div>

    <aside class="hidden mx-2 lg:row-start-1 lg:row-end-7 lg:col-start-1 lg:col-end-3 
                lg:grid grid-rows-6 overflow-y-scroll">

        <div 
            data-controller="timer" 
            class="row-start-1 row-end-3 border border-gray-500 flex flex-col p-2 rounded-md shadow-md shadow-gray-500">
            <%=  render(partial: "home/side_options", locals:{mobile: false}) %>
        </div>

        <div class="row-start-3 row-end-7 border border-gray-500 rounded-md shadow-md shadow-gray-500 p-2 overflow-y-scroll">
            <div id="selection_bar">
                <%= render(partial: "home/selection_bar", locals: {model: "quiz", mobile: false}) %>
            </div>

            <div id="currentFocus">
                <input type="hidden" value="" />
            </div>
        </div>

    </aside>

    <div id="main_container" 
        class="overflow-y-scroll lg:overflow-auto lg:mx-2 lg:row-start-1 lg:row-end-7 border  border-gray-500 rounded-md shadow-md shadow-gray-500 col-start-3 col-end-11">
    </div>

    <% if Rails.env.development? %>
        <div class="flex justify-between w-full col-start-1 col-end-7">
            <%= button_tag "test normal dialog",
                type: "button",
                data: {
                    reflex: "click->Shared::NotificationModalReflex#show_dialog",
                    partial_path: "topics/form",
                    sub_locals: {
                        model: "topic"
                        }
                    },
                class: "m-2 p-2 bg-blue-600 text-white font-semibold rounded-lg" %>
            <%= button_tag "test confirm dialog", 
                type: "button", 
                data: { 
                    reflex: "click->Shared::NotificationModalReflex#show_confirmation_dialog" 
                }, 
                class: "m-2 p-2 bg-blue-600 text-white font-semibold rounded-lg" 
            %>
        </div>
    <% end %>
</div>

<style>
  .nes-main{
    font-family: "Press Start 2P";
  }
</style>