<div class="flex flex-col md:grid grid-cols-6 w-full h-screen bg-gradient-to-tr from-flashBlue to-testGreen m-0">
    <div class="md:col-start-1 md:col-end-5">
        <%= render(partial: "devise/shared/landing_cta", locals: {} ) %>
    </div>

    <div class ="overflow-y-scroll align-middle md:col-start-5 md:col-end-7 flex flex-col md:border-l py-2 px-5 rounded-xl border-gray-300 items-center shadow-md shadow-gray-400" >
        <div class="flex flex-col justify-around m-auto">
            <div class="">
                <h2 class="text-center mb-5 text-lg font-bold">Log in to ReQuiz</h2>
            </div>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field flex flex-col items-center mb-2">
              <%= f.label :email, class: "align-middle" %>
              <%= f.email_field :email, autocomplete: "email", class: "rounded-xl" %>
            </div>

            <div class="field flex flex-col items-center mb-2">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password", class: "rounded-xl" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class ="flex justify-center p-2">
                <div class="field  p-1">
                  <%= f.check_box :remember_me, class: "rounded-xl" %>
                  <%= f.label :remember_me %>
                </div>
              </div>
            <% end %>

            <div class="actions flex justify-around">
              <%= f.submit "Log in", class: "bg-flashBlue font-serif font-bold text-white p-2 w-full rounded-xl m-2" %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
    </div>
</div>
